/* Utility
 ========================================================================== */

 .ant-position-relative { position: relative !important; }

 .ant-position-absolute { position: absolute !important; }

 .ant-position-fixed { position: fixed !important; }

 .ant-position-z-index { z-index: 1; }

 // Align center vertically
div.ext-box { display: table; width:100%;}
div.int-box { display: table-cell; vertical-align: middle; }