.header {
  background-color: @header-color;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  z-index: @zindex-header;
  
  & li, .ant-dropdown-link {
    font-size: 14px;
  }

  & .header-mobile-menu {
    float: left;
    cursor: pointer;
  }
}