.sider-menu {
  background-color: white;
  box-shadow: 2px 0px 17px -6px rgba(97,97,97,0.79);

  & .sider-container {
    padding: 30px;

    & .sider-main-logo {
      text-align: center;
      margin-bottom: 40px;
      
      & img {
        width: 100%;
        padding: 0 10px;
      }
    }

    & .sider-links {
      & ul {
        list-style: none;
        padding-left: 0px;
        font-weight: bold;

        & li {
          margin: 20px 0px;
          
          & > a {
            color: @text-color;
            &:hover {
              color: @text-color-darker;
              text-decoration: none;
            }
          }
        }
      }
    }

    & .sider-language-switcher {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}